/* styles/about.module.css */

.about-section {
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(135deg, #f0f4f8, #dfe6f1);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1000px;
  }
  
  .intro h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: #606b85;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .intro p {
    font-size: 1.5rem;
    color: #505050;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .intro p:hover {
    font-weight: 500; 
    font-size: 1.5rem;
    filter: drop-shadow(1px 1px 2px rgb(4, 141, 245));
    color: #b8ccc3;
    padding: 5px;
    border-radius: 5px;
  }
  
  .skills {
    margin-top: 4rem;
    margin-bottom: 120px;
  }
  
  .skills h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #606b85;
    margin: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skills li {
    font-size: 1.2rem;
    color: #ada6a6;
    margin: 10px 20px;
    padding: 8px 16px;
    border: 2px solid #172c60;
    border-radius: 30px;
    transition: all 0.3s ease;
  }
  
  .skills li:hover {
    background-color: #0d4ef5;
    color: white;
    transform: scale(1.1);
  }
  
  .photos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 3rem;
  }
  
  .photos img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
  }
  
  .photos img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(28, 217, 173, 0.2);
  }
  
  @media (max-width: 768px) {
    .skills li {
      font-size: 1rem;
      margin: 8px;
      padding: 6px 12px;
    }
  
    .photos img {
      width: 140px;
      height: 140px;
    }
  }
  